<div id="collapsable" class="collapse navbar-collapse">

    {{#dev}}
    {{!embedded}}
    <ul class="nav navbar-nav navbar-right">
            <a href="${adminUrl}" data-toggle="tooltip" data-placement="right" title="Admin Center">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
                    </span>
            </a>
    </ul>
    {{/embedded}}
    {{/dev}}

    {{#menu.leftItems}}
    {{#visible}}
    <ul class="nav navbar-nav navbar-left">
{{>page-menu-dropdown}}
    </ul>
    {{/visible}}
    {{/menu.leftItems}}

    {{?username}}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a><i class="fa fa-user"></i> ${username}</a>
        </li>
        <li class="dropdown">
            <a href="/_logout" data-toggle="tooltip" data-placement="right" title="Logout"><i class="fa fa-sign-out"></i></a>
        </li>
    </ul>
    {{/username}}

    {{#menu.rightItemsReversed}}
    {{#visible}}
    <ul class="nav navbar-nav navbar-right">
{{>page-menu-dropdown}}
    </ul>
    {{/visible}}
    {{/menu.rightItemsReversed}}

    {{>navbar-custom}}

    {{#search}}{{>page-search}}{{/search}}

</div>
