.pointer {
	cursor: pointer;
}

.display-value {
	border-style: dashed;
	border-color: #DDD;
}

div.title-box {
	margin: 0px;
	margin-bottom: 10px;
	padding: 3px;
	font-size: 20px;
	font-weight: bold;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-radius: 0px;
	border-style: solid;
	border-color: #AAA;
	text-align: center;
}

span.highlight {
	margin: 0px;
	padding: 0px;
	background-color: #FEE;
	border-width: 1px;
	border-radius: 0px;
	border-style: solid;
	border-color: #A55;
}