{{#navbar}}
<nav role="navigation" class="navbar navbar-default">
    <div class="container{{#fluid}}-fluid{{/fluid}}">

        <div class="navbar-header">
            <button data-target="#collapsable" class="navbar-toggle collapsed" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            {{>page-segments/page-brand}}
        </div>

{{>page-segments/page-menu}}

    </div>
</nav>
{{/navbar}}
