<body class="rapidoid" ng-controller="Main" ng-app="app">

{{!cdn}}
<script src="/jquery-2.2.3.min.js"></script>
<script src="/bootstrap/js/bootstrap-3.3.6.min.js"></script>
<script src="/angular-1.5.3.min.js"></script>
<script src="/rapidoid.min.js"></script>
{{/cdn}}
{{#cdn}}
<script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="//cdn.jsdelivr.net/rapidoid/${version}/rapidoid.min.js"></script>
{{/cdn}}

<script src="/app.js"></script>
{{#_js}}<script src="/${req.name}.js"></script>{{/_js}}

<div ng-if="!ajaxBodyContent">
{{>page-segments/page-content}}
</div>

<div compile="ajaxBodyContent" ng-if="ajaxBodyContent"></div>

{{>page-segments/page-tail}}

</body>
