<body class="rapidoid rapidoid-${zone}">

{{!cdn}}
<script src="${req.contextPath}/_rapidoid/jquery-2.2.3.min.js"></script>
<script src="${req.contextPath}/_rapidoid/bootstrap/js/bootstrap-3.3.6.min.js"></script>
<script src="${req.contextPath}/_rapidoid/angular-1.5.8.min.js"></script>
<script src="${req.contextPath}/_rapidoid/rapidoid.min.js"></script>
{{/cdn}}
{{#cdn}}
<script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="//cdn.jsdelivr.net/rapidoid/${version}/rapidoid.min.js"></script>
{{/cdn}}

{{#js}}
<script src="${.}"></script>
{{/js}}

<div ng-controller="Main" ng-app="app">
{{>_body}}

<!-- Angular bindings start -->
<div ng-if="!ajaxBodyContent">
{{>page-segments/page-content}}
</div>
<div compile="ajaxBodyContent" ng-if="ajaxBodyContent"></div>
<!-- Angular bindings end -->

{{>page-segments/page-scripts}}

{{>_tail}}
</div>
</body>
