<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="fa fa-user"></span>&nbsp;Sign in<span class="caret"></span></a>
    <ul role="menu" class="dropdown-menu">
{{#app.config.oauth.popup}}
{{#app.config.oauth.providers}}
        <li><a onclick="Rapidoid.popup('/_${.}Login?popup');" href="javascript:void(0);"><span class="fa fa-${.}"></span>&nbsp;Sign in with <span class="text-capitalize">${.}</span></a></li>
{{/app.config.oauth.providers}}
{{/app.config.oauth.popup}}
{{^app.config.oauth.popup}}
{{#app.config.oauth.providers}}
        <li><a href="${req.contextPath}/_${.}Login"><span class="fa fa-${.}"></span>&nbsp;Sign in with <span class="text-capitalize">${.}</span></a></li>
{{/app.config.oauth.providers}}
{{/app.config.oauth.popup}}
{{#dev}}
        <li class="divider"></li>
        <li class="dropdown-header text-center">- IN DEV MODE ONLY -</li>
        <li><a href="${req.contextPath}/_debugLogin?user=admin"><span class="fa fa-bug"></span>&nbsp;Mock sign in as Admin</a></li>
        <li><a href="${req.contextPath}/_debugLogin?user=manager"><span class="fa fa-bug"></span>&nbsp;Mock sign in as Manager</a></li>
        <li><a href="${req.contextPath}/_debugLogin?user=moderator"><span class="fa fa-bug"></span>&nbsp;Mock sign in as Moderator</a></li>
        <li><a href="${req.contextPath}/_debugLogin?user=foo"><span class="fa fa-bug"></span>&nbsp;Mock sign in as Foo</a></li>
        <li><a href="${req.contextPath}/_debugLogin?user=bar"><span class="fa fa-bug"></span>&nbsp;Mock sign in as Bar</a></li>
{{/dev}}
    </ul>
</li>
