<div id="collapsable" class="collapse navbar-collapse">

    {{?dev}}
    {{!embedded}}
    {{!admin}}
    {{?adminUrl}}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="${adminUrl}" data-toggle="tooltip" data-placement="bottom" title="Admin Center">
                <i class="fa fa-dashboard" style="color: #3bb9ff;"></i>
            </a>
        </li>
    </ul>
    {{/adminUrl}}
    {{/admin}}
    {{/embedded}}
    {{/dev}}

    {{?admin}}
    {{!embedded}}
    {{?appUrl}}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="${appUrl}" data-toggle="tooltip" data-placement="bottom" title="App Home">
                <i class="fa fa-home" style="color: #3bb9ff;"></i>
            </a>
        </li>
    </ul>
    {{/appUrl}}
    {{/embedded}}
    {{/admin}}

    {{#menu.leftItems}}
    {{#visible}}
    <ul class="nav navbar-nav navbar-left">
{{>page-segments/page-menu-item}}
    </ul>
    {{/visible}}
    {{/menu.leftItems}}

    {{?username}}
    <ul class="nav navbar-nav navbar-right">
        <li{{?has.path.$profile}} class="active"{{/has.path.$profile}}>
        <a {{?has.page.$profile}}href="${req.contextPath}${profileUri}" data-toggle="tooltip" data-placement="bottom" title="My profile"{{/has.page.$profile}}{{!has.page.$profile}}href="#"{{/has.page.$profile}}>
            <i class="fa fa-user"></i> ${username}
        </a>
        </li>
        {{?has.special_page.logout}}
        <li>
            <a href="${req.contextPath}${logoutUri}" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="fa fa-sign-out"></i></a>
        </li>
        {{/has.special_page.logout}}
    </ul>
    {{/username}}

    {{#menu.rightItemsReversed}}
    {{#visible}}
    <ul class="nav navbar-nav navbar-right">
{{>page-segments/page-menu-item}}
    </ul>
    {{/visible}}
    {{/menu.rightItemsReversed}}

    {{>_navbar}}

    {{#search}}{{>page-segments/page-search}}{{/search}}

</div>
