<li class="{{?submenu}}dropdown{{/submenu}}{{?active}} active{{/active}}">
    <a href="${req.contextPath}${target||#}" {{?submenu}} class="dropdown-toggle" data-toggle="dropdown"{{/submenu}}>@{caption}{{?submenu}}<span class="caret"></span>{{/submenu}}</a>
    {{#submenu}}
    <ul role="menu" class="dropdown-menu">
        {{#items}}
        {{?visible}}
        {{?javascript}}
        <li><a onclick="${javascript}" href="javascript:void(0);">{{?icon}}<i class="${icon}"></i>&nbsp; {{/icon}}@{caption}</a></li>
        {{/javascript}}
        {{?target}}
        <li><a href="${req.contextPath}${target}">{{#icon}}<span class="${icon}"></span>&nbsp; {{/icon}}@{caption}</a></li>
        {{/target}}
        {{?divider}}
        <li class="divider"></li>
        {{/divider}}
        {{/visible}}
        {{/items}}
    </ul>
    {{/submenu}}
</li>
