{{^embedded}}
<!DOCTYPE html>
<html lang="en">
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{?title}}
<title>${title}</title>
{{/title}}

{{#full}}
{{>page-segments/page-full}}
{{/full}}

{{#maps}}
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
{{/maps}}

{{^cdn}}
<link href="${req.contextPath}/_rapidoid/bootstrap/css/bootstrap-3.3.6.min.css" rel="stylesheet">
<link href="${req.contextPath}/_rapidoid/font-awesome/css/font-awesome-4.5.0.min.css" rel="stylesheet">
<link href="${req.contextPath}/_rapidoid/rapidoid.min.css" rel="stylesheet">
{{/cdn}}
{{#cdn}}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//cdn.jsdelivr.net/gh/rapidoid/rapidoid@${version}/dist/rapidoid.min.css" rel="stylesheet">
{{/cdn}}

{{#css}}
<link href="${.}" rel="stylesheet">
{{/css}}

<link href="${req.contextPath}/img/favicon.png" rel="shortcut icon">
<link href="${req.contextPath}/_rapidoid/bootstrap/css/theme-default.css" type="text/css" rel="stylesheet" />

{{>_head}}

{{>page-segments/page-globals}}
</head>

{{>page-segments/page-body}}

</html>
{{/embedded}}{{?embedded}}{{>page-segments/page-embedded}}{{/embedded}}
