{{^error}}
<body class="rapidoid" ng-controller="Main" ng-app="app">

  <div ng-if="!ajaxBodyContent">
{{^error}}{{>page-content}}{{/error}}
  </div>

  <div compile="ajaxBodyContent" ng-if="ajaxBodyContent"></div>

{{>page-modal}}

{{#dev}}
<script src="/jquery-2.1.4.min.js"></script>
<script src="/bootstrap/js/bootstrap-3.3.5.min.js"></script>
<script src="/angular-1.4.3.min.js"></script>
<script src="/rapidoid.min.js"></script>
{{/dev}}
{{^dev}}
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="//cdn.jsdelivr.net/rapidoid/{{version}}/rapidoid.min.js"></script>
{{/dev}}
<script src="/app.js"></script>

</body>
{{/error}}
{{#error}}{{>page-error}}{{/error}}
