/*!
 * Rapidoid Extras
 * Author: Nikolche Mihajlovski
 * Licence: MIT
 */

/***** Social button fixes */
#twitter-widget-0, .g-plusone {
    margin: 0px !important;
}

.navbar-input {
    height: 26px;
    padding: 0px 0px !important;
    margin: 0px !important;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/***** Text box */
.text-box {
    padding: 1px 3px;
    border: #aaa solid 1px !important;
    border-radius: 5px;
}

/***** Default Gmap dimensions */
div.gmap-default {
    width: 100%;
    height: 400px;
}

/***** Removing the outline of the nav tabs and buttons */
.btn, .btn:focus, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    outline: none !important;
}

/***** Hover effect for close (e.g. "x") buttons */
i.btn-close:hover {
    background: #A00;
    color: white;
}

/***** Showcase utils */
.feature-point {
    margin-right: 5px !important;
}

/***** Mail registration */
#subscribe-email {
    width: 150px !important;
    display: inline !important;
}

/***** Embedding iframes */
.embedd {
    width: 100% !important;
    height: 500px !important;
}

/***** Typography */
.named {
    font-weight: bold;
    font-style: italic;
}

.not-important {
    font-weight: lighter;
}

/***** Space-separated rows */
.row-separated-pico > div {
    margin-top: 2px !important;
    padding-top: 2px !important;
    margin-bottom: 2px !important;
    padding-bottom: 2px !important;
}

.row-separated-nano > div {
    margin-top: 5px !important;
    padding-top: 5px !important;
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
}

.row-separated-micro > div {
    margin-top: 10px !important;
    padding-top: 10px !important;
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
}

.row-separated-mini > div {
    margin-top: 15px !important;
    padding-top: 15px !important;
    margin-bottom: 15px !important;
    padding-bottom: 15px !important;
}

.row-separated-small > div {
    margin-top: 20px !important;
    padding-top: 20px !important;
    margin-bottom: 20px !important;
    padding-bottom: 20px !important;
}

.row-separated > div {
    margin-top: 25px !important;
    padding-top: 25px !important;
    margin-bottom: 25px !important;
    padding-bottom: 25px !important;
}

.row-separated-large > div {
    margin-top: 30px !important;
    padding-top: 30px !important;
    margin-bottom: 30px !important;
    padding-bottom: 30px !important;
}

.row-separated-mega > div {
    margin-top: 50px !important;
    padding-top: 50px !important;
    margin-bottom: 50px !important;
    padding-bottom: 50px !important;
}

.row-separated-giga > div {
    margin-top: 75px !important;
    padding-top: 75px !important;
    margin-bottom: 75px !important;
    padding-bottom: 75px !important;
}

/***** Color-separated rows */
.row-separated-cut > div {
    border-top: 1px dashed #555 !important;
}

.row-separated-cut-red > div {
    border-top: 1px dashed #A00 !important;
}

.row-separated-cut-green > div {
    border-top: 1px dashed #0A0 !important;
}

.row-separated-cut-blue > div {
    border-top: 1px dashed #00A !important;
}

/***** Space-separated elements */
.separated-nano {
    margin-top: 5px !important;
    padding-top: 5px !important;
}

.separated-micro {
    margin-top: 10px !important;
    padding-top: 10px !important;
}

.separated-mini {
    margin-top: 15px !important;
    padding-top: 15px !important;
}

.separated-small {
    margin-top: 20px !important;
    padding-top: 20px !important;
}

.separated {
    margin-top: 35px !important;
    padding-top: 35px !important;
}

.separated-large {
    margin-top: 50px !important;
    padding-top: 50px !important;
}

.separated-mega {
    margin-top: 100px !important;
    padding-top: 100px !important;
}

.separated-giga {
    margin-top: 150px !important;
    padding-top: 150px !important;
}

/***** Color-separated elements */
.separated-cut {
    border-top: 1px dashed #555 !important;
}

.separated-cut-red {
    border-top: 1px dashed #A00 !important;
}

.separated-cut-green {
    border-top: 1px dashed #0A0 !important;
}

.separated-cut-blue {
    border-top: 1px dashed #00A !important;
}

/***** Good vs bad comparison/contrast colors */
.color-good {
    color: green;
}

.color-mid {
    color: #664;
}

.color-bad {
    color: red;
}

/***** Code style */
.code-snippet {
    background: none;
    border: none;
    padding: 0px;
}

.important-code {
    border: 1px dashed;
    border-color: #900;
    padding: 1px;
}

.eg_code, .eg_output {
    padding: 5px !important;
    background: #FFF !important;
    border-style: dashed !important;
    border-color: #CCC !important;
    border: 1px dashed;
}

.eg_text {
    padding: 5px !important;
    border-style: dashed !important;
    border-width: 1px !important;
    border-color: #AAA !important;
    margin-bottom: 20px;
}

.eg_text2 {
    padding: 5px !important;
    border-style: dashed !important;
    border-width: 1px !important;
    border-color: #AAA !important;
    margin-bottom: 20px;
    background-color: #FCC;
}

.eg_title {
    padding: 2px 5px !important;
    font-size: 13px !important;
    font-weight: bold;
}

._code_linecomm {
    color: #777;
    font-style: italic;
}

._code_comment {
    color: #777;
    font-size: 14px;
    font-weight: bold;
}

._code_comment_icon {
    color: #777;
}

._code_lambda {
    color: #955;
    font-weight: bold;
}

._code_api {
    color: #338;
    font-weight: bold;
}

._code_kw {
    color: blue;
}

._code_cls {
    color: #727;
}

._code_tag {
    color: #377;
}

._code_str {
    color: #070;
}

._code_num {
    color: #077;
}

._code_ann {
    color: #551;
}

/***** Helpers  *****/
.pointer {
    cursor: pointer !important;
}

/***** Read-only value display  *****/
.display-wrap {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #DDD;
    background-color: rgba(230, 230, 235, 0.3);
}

/***** Multi-line value display  *****/
.value-line {
    margin: 0px;
    margin-bottom: 7px;
}

/***** Yellor table rows on mouse-over *****/
.table-hover tbody tr:hover td {
    background-color: #FFB !important;
}

/***** Input field error  *****/
.field-error {
    font-weight: bold;
    color: #700;
}

/***** "Nothing" widget *****/
.nothing {
    color: #BBB;
}

/***** Highlight widget *****/
span.highlight {
    margin: 0px;
    padding: 0px;
    background-color: #FEE;
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
    border-color: #A55;
}

/***** Title box widget *****/
div.title-box {
    margin: 0px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

/***** Card widget *****/
div.rapidoid-card {
    border-width: 1px;
    border-style: solid;
    border-color: #CCC;
    border-radius: 3px;
    padding: 10px;
}

div.rapidoid-card:hover {
    border-color: #DDC;
}

div.rapidoid-card h6.rapidoid-card-caption {
    margin: 0px;
}

/***** Pagination *****/
ul.pagination {
    margin: 0px !important;
}

/***** Card widget *****/
.bg-squares {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}

/***** Error page *****/
.server-error-details {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    color: #500;
}

.server-error-code {
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/***** Dygraphs *****/

.rapidoid-dygraph-small {
    width: 100% !important;
    margin: 0px !important;
    height: 150px;
}

.rapidoid-dygraph {
    width: 100% !important;
    margin: 0px !important;
}

.dygraph-axis-label.dygraph-axis-label-x, .dygraph-axis-label.dygraph-axis-label-y {
    font-size: 10px !important;
}

.dygraph-label.dygraph-xlabel, .dygraph-label.dygraph-ylabel, .dygraph-label.dygraph-y2label {
    font-size: 10px !important;
}

.dygraph-legend {
    width: 100% !important;
    font-size: 12px !important;
}

.dygraph-title {
    font-size: 16px !important;
}

/***** Background colors */
.bg-sky {
    background-color: #3498db;
}

.bg-purple {
    background-color: #9b59b6;
}

.bg-teal {
    background-color: #008080;
}

.bg-pink {
    background-color: #EE82EE;
}

.bg-steel {
    background-color: #4682B4;
}

.bg-salmon {
    background-color: #FA8072;
}

.bg-sandy {
    background-color: #F4A460;
}

.bg-metal {
    background-color: #95a5a6;
}

/****** split.js *******/

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('/_rapidoid/grips/vertical.png');
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    background-image: url('/_rapidoid/grips/horizontal.png');
    cursor: ns-resize;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.split, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.split {
    overflow-y: auto;
    overflow-x: hidden;
}

/***** Process output styling */

.proc-out {
    font-size: 10px;
    padding: 3px;
    margin: 1px;
    border: none;
}

.proc-out-default {
    background-color: #EEE;
}

.proc-out-severe {
    background-color: #F77;
}

.proc-out-error {
    background-color: #FCC;
}

.proc-out-warning {
    background-color: #FFC;
}

/***** Buttons */

.btn-danger {
    border-color: #AAA;
    background-color: #FAA;
    color: black;
}

.btn-warning {
    border-color: #AAA;
    background-color: #FC9;
    color: black;
}

/***** Navigation breadcrumbs */

ol.breadcrumb > li > a {
    font-weight: bold;
    color: #005;
}
