Add some screens:
public class App {
	public String title = "Example 2";
}

class HomeScreen {
	public String content() {
		return "At the Home screen!";
	}
}

class FooScreen {
	public String content = "At the Foo screen!";
}
